#blue_round_fixpadding_full {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  background-color: rgba(186, 232, 232, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 0;
  margin-right: 2vw;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#blue_round_fixpadding_full:hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
  background-color: #ffb000;
}
#blue_round_fixpadding_h3 {
  font-family: Montserrat;
  font-family: Montserrat;
  font-size: 0.8vw;
  font-weight: 600;
  margin: 0;
}
