#Menue_Wrapper {
  padding-left: 6vw;
  padding-right: 6vw;
  width: 86vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 7vh;
  align-items: flex-start;
  padding-top: 3vh;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
}

#top_menue_logoimg {
  width: 16vw;
}
#Menue_Left_Side {
  margin-right: 38vw;
}
#Menue_Right_Side {
  display: flex;
  flex-direction: column;
}
#Right_Spalte {
  height: 7vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: white;
  margin-right: 3vw;
  border-radius: 12px;
}
#Right_Spalte:hover {
  height: 22vh;
}
#Right_Item_Item_top {
  min-height: 7vh;
  display: flex;
  align-items: center;
}
#Top_Menue_h2 {
  font-family: Montserrat;
  font-size: 1.1vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

#Right_Item_Item {
  height: 5vh;

  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 1vw;
}
#Right_Item_Item:hover {
  background-color: rgba(186, 232, 232, 1);
}
#Top_Menue_h4 {
  font-family: Montserrat;
  font-size: 0.9vw;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}
