#Kachel_1h_2w {
  width: 26vw;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 10vh;
  padding-left: 1vw;
  justify-content: center;
}
#kleine_kachel_h3_smaller {
  font-family: Montserrat;
  font-size: 0.8vw;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 0.2vh;

  color: #0a2c53;
}
