#alle_projekte_wrapper {
  width: 88vw;
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
  flex-direction: row;

  padding-top: 20vh;
  padding-bottom: 4vh;
  position: relative;
  z-index: 25;
}
#alle_projekte_ALL_wrapper {
  width: 100vw;
  height: auto;
  position: relative;
  background: #e0e0e0;
}

#alle_projekte_Layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  left: 0;
  top: 0;
  z-index: 1;
}
#alle_projekte_filter_wrapper {
  width: 16vw;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: relative;
  z-index: 10;
}

#KeinegefundenWrapper {
  position: absolute;
  left: 1vw;
  top: 4vh;
}

#Keinegefunden_h2 {
  font-family: Montserrat;
  font-size: 1.2vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

#FilterButtonAlle {
  padding-left: 1vw;
  padding-right: 1vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
  height: 5vh;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}
#FilterButtonAlle:hover {
  background-color: rgba(186, 232, 232, 1);
}
#FilterButtonAlle:active {
  background-color: rgba(186, 232, 232, 1);
}
#FilterButtonAlle_h2 {
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

#alle_projekte_filter_wrapper_inner {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 10vw;
  align-items: flex-start;
  padding-top: 1vh;
  justify-content: center;
  padding-bottom: 2vh;
  margin-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vh;
}
#alle_projekte_wrapper_heading {
  display: flex;
  background-color: red;
  width: 8vw;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
  align-items: center;
}
#alle_projekte_Filter1_wrapper_heading {
  display: flex;
  width: 10vw;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
  align-items: center;
  height: 4vh;
  cursor: pointer;
  border-radius: 12px;
}

#Finanzierungsvolumen_Filter_Wrapper {
  display: flex;
  flex-direction: column;
  width: 10vw;
}
#filter1active {
  height: 25vh;
}
#filter1inactive {
  height: 4vh;
  overflow-y: hidden;
}
#filter3active {
  height: 20vh;
}
#filter3inactive {
  height: 4vh;
  overflow-y: hidden;
}
#alle_projekte_wrapper_icon_inactive {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
#alle_projekte_wrapper_icon_active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#alle_projekte_wrapper_h3 {
  font-family: Montserrat;
  font-size: 0.7vw;
  margin: 0;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

#alle_projekte_wrapper_close {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#alle_projekte_wrapper_close_img {
  width: 1vw;
}

#AlleProjekte_e_H3 {
  font-family: Montserrat;
  font-size: 0.7vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
#Filter_row_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10vw;
  align-items: center;
}
#clicked {
  width: 1vw;
  height: 1vw;
  background-color: #cdf0ea;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.25);
  border-style: solid;
}

#unclicked {
  width: 1vw;
  height: 1vw;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.25);
  border-style: solid;
}

#alle_projekte_projekte_wrapper {
  width: 66vw;
  margin-left: 2vw;
  background: white;
  border-radius: 12px;
  padding-bottom: 4vh;
  padding-top: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
}

#alle_projekte_projekte_wrapper_Kategorien {
  width: 66vw;
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6vh;
  border-radius: 12px;
  justify-content: space-between;
}
#alle_projekte_projekte_wrapper_projekte_kategorien {
  font-family: Montserrat;
  font-size: 1.2vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

#alle_projekte_kategorien_menue {
  margin-left: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: grid;

  grid-template-columns: repeat(4, auto);
  grid-gap: 1vh;
}

#alle_projekte_kategorie_kachel {
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#TrennStrich {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 3vh;
}

#alle_projekte_kategorie_kachel_img {
  width: 1.5vw;
}

#alle_projekte_projekte_wrapper_projekte {
  margin-top: 4vh;
  height: 60vh;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
#alle_projekte_ul {
  display: grid;
  width: 55vw;
  padding-left: 0;
  grid-template-columns: repeat(4, auto);
  gap: 1vw;
  list-style: none;
}
#alle_projekte_li {
}
#Mobile_alle_Projekte_Wrapper {
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
}

#Mobile_alle_Projekte_Projekte_wrapper {
  width: 88vw;
  padding-left: 0vw;
  padding-right: 0vw;
  padding-top: 3vh;
  padding-bottom: 3vh;

  display: flex;
  background-color: #f3f6fa;
  border-radius: 12px;
  margin-top: 3vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  flex-direction: column;
  align-items: center;
}
