#Partner_Top_Wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 99vw;
  padding-top: 2vh;
  padding-bottom: 10vh;
}
#Partenr_Top_Left {
  width: 36vw;
  padding-left: 6vw;
  display: flex;
  align-items: center;
}
#Partenr_Top_Left_h3 {
  font-family: Montserrat;
  font-size: 2.5vw;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 0.2vh;

  color: black;
}
#Partner_Top_Right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
}
#Partner_Top_Right_Content_Wrapper {
  display: flex;
  flex-direction: row;
  height: 20vh;
}
#Partner_Top_Right_Content_Menue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  width: 20vw;
}
#Partner_Top_Right_Content_Content {
  width: 15vw;
  margin-left: 2vw;
}
#Partner_Top_Right_Content_Menue_IMG {
  width: 2vw;
}
#Partner_Top_Right_Content_Menue_inner {
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #cdf0ea;
}
#Partner_Top_Right_Content_Menue_h3 {
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 0.2vh;

  color: #0a2c53;
}
#Partner_Top_Right_Content_Menue_Button {
  width: 15vw;
  background-color: #f3f6fa;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 8vh;
  padding-left: 1vw;
  justify-content: space-between;
  padding-right: 1vw;
  margin-bottom: 2vh;
  align-items: center;
  cursor: pointer;
}
#Partner_Top_Right_Content_Menue_Button:hover {
  cursor: pointer;
}

#Partner_Top_Right_Content_Content_Wrapper {
  display: flex;
  flex-direction: column;
  width: 17vw;
  background-color: #f3f6fa;
  height: 29vh;
  border-radius: 12px;
}
#Partner_Top_Right_Content_Content_TOP {
  display: flex;
  flex-direction: row;
  padding-left: 1vw;
  height: 6vh;
  align-items: center;
  width: 16vw;
  justify-content: space-between;
}
#Partner_Top_Right_Content_Content_TOPrIGHT {
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #cdf0ea;
}
#Partner_Top_Right_Content_Content_Img {
  width: 2vw;
}
#Partner_Top_Right_Content_Content_BOTTOM {
  display: flex;
  padding-right: 1vw;
  padding-left: 1vw;
  margin-top: 2vh;
}
#Partner_Top_Right_Content_Content_h3 {
  font-family: Montserrat;
  font-size: 0.8vw;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 0.2vh;

  color: #0a2c53;
}
#Partner_Top_Right_Content_Content_TOP_H3 {
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 0.2vh;

  color: #0a2c53;
}

#Partner_UnserePartner {
  display: flex;
  flex-direction: column;
}
#Partner_UnserePartner_h3_wrapper {
  display: flex;
  padding-left: 6vw;
  width: 94vw;
  height: 8vh;
}
#Partner_UnserePartner_h3 {
  font-family: Montserrat;
  font-size: 2.5vw;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 0.2vh;

  color: black;
}
#Partner_UnserePartner_blue_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 88vw;
  height: 15vh;
  padding-left: 6vw;
  padding-right: 6vw;
  background-color: #f3f6fa;
  align-items: center;
}
#Partner_UnserePartner_Item_Wrapper {
}

#Partner_Thrid_sECTION {
  display: flex;
  flex-direction: row;
  height: 40vh;
}
#Partner_Thrid_sECTION_Left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  padding-left: 6vw;
}
#Partner_Thrid_sECTION_RIGHT {
  display: flex;
  padding-left: 10vw;
  align-items: center;
}
#Partner_Thrid_sECTION_RIGHT_Content {
  display: flex;
  flex-direction: column;
}
#Partner_Thrid_sECTION_RIGHT_Content_h3 {
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 0.2vh;
  width: 25vw;

  color: #0a2c53;
}
#Partner_Thrid_sECTION_RIGHT_Content_Buttom {
  width: 15vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #cdf0ea;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);

  margin-top: 2vh;
}
#Partner_Thrid_sECTION_RIGHT_Content_Buttom_H3 {
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 0.2vh;

  color: #0a2c53;
}

#Mobile_Partner_top {
  display: flex;
  width: 88vw;
  padding-left: 6vw;
  padding-right: 6vw;
  flex-direction: column;
}
#Mobile_Partner_top_h2 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}
#Mobile_Partner_top_Switcher {
  display: flex;
  flex-direction: column;
}

#Mobile_Partner_top_Switcher_Menue {
  display: flex;
  flex-direction: row;
  width: 88vw;
  padding-right: 6vw;
  padding-left: 6vw;
  margin-top: 6vh;
  justify-content: space-between;
}
#Mobile_Partner_top_Switcher_Menue_Item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f3f6fa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1vw;
  width: 30vw;
  height: 6vh;
  border-radius: 12px;
  padding-right: 1vw;
  align-items: center;
}
#Mobile_Partner_top_Switcher_Item_h3 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}
#Mobile_Partner_top_Switcher_Inner {
  background-color: #cdf0ea;
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
#Mobile_Partner_top_Switcher_img {
  width: 5vw;
}
#Mobile_Partner_top_Switcher_Inhalt {
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  border-radius: 12px;
  width: 88vw;
  height: 50vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f3f6fa;
}
#Mobile_Partner_top_Switcher_Inhalt_Top {
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #cdf0ea;
  border-radius: 12px;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  margin-bottom: 1vh;
}
#Mobile_Partner_top_Switcher_h3 {
  font-size: 22px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}
#Mobile_Partner_top_Switcher_TOP_Inner {
  background-color: #cdf0ea;
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
#Mobile_Partner_top_Switcher_Top_img {
  width: 5vw;
}
#Mobile_Partner_Unsere_Section {
  display: flex;
  width: 88vw;
  padding-left: 6vw;
  padding-right: 6vw;
  flex-direction: column;
}
#Mobile_Partner_Unsere__h2 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}
#Mobile_Partner_Unsere_Balken {
  width: 100vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #f3f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Mobile_Partner_IhrP_Section {
  display: flex;
  width: 88vw;
  padding-left: 6vw;
  padding-right: 6vw;
  flex-direction: column;
}
#Mobile_Partner_IhrP_h2 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}
#Mobile_Partner_IhrP_Content_Wrapper {
  display: flex;
  flex-direction: column;
}
#Mobile_Partner_IhrP_H4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}
#Mobile_Partner_IhrP_Button {
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #cdf0ea;
  border-radius: 12px;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}
#Mobile_Partner_IhrP_Button_h3 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}
